.c9/*
.smf/*
.pm2/*
.npm/*
.tmp/*
.templates/*
output/*
plugins/*
images/automated/*.png
!output/Android/README.md
!output/iOS/README.md
!output/.license.xml
!plugins/Android/README.md
!plugins/iOS/README.md
node_modules/
scripts/ui
scripts/themes
scripts/generated
.DS_Store
/packages
dist
yarn-error.log